.site-subtitle {
  color: #ccc;
}
.site-nav {
  padding: 20px 40px;
}
.site-content {
  border-left: 1px solid #eee;
  padding: 40px;
}
a.brand, a.brand:hover, a.brand:visited {
  color: inherit;
  text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}
