.site-subtitle {
  color: #ccc;
}
.site-nav {
  padding: 20px 40px;
  border-right: 1px solid #eee;
}
@media (min-width: 768px) {
  .site-nav {
    position:fixed;
    left: 0px;
    height: 100%;
    overflow: auto;
  }
}
@media (min-width: 768px) {
  .site-content {
    /*min-height: 1024px;*/
  }
}
.site-content {
  /*border-left: 1px solid #eee;*/
  padding: 40px;
  /*background: url('/images/12_point_curved.svg')  no-repeat center center fixed;*/
  /*background-size: cover;*/
}
a.brand, a.brand:hover, a.brand:visited {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: Georgia, "Times New Roman", Serif;
  /*margin-left: 400px;*/
  background: none repeat scroll 0% 0% rgba(252, 244, 220, 0.11);
  /*color: rgba(104, 100, 90, 0.95);*/
}
.btn-default, .panel-default, .panel-default > .panel-heading {
  /*background: #f5f5f5;*/
  /*background: rgba(252, 244, 220, 0.11);*/
}
p {
  font-size: 16px;
}
#footer p {
  font-size: 14px;
}
/*a.btn {
  font-family: "Helvetica Neue";
}*/
h1, h2, h3 {
  font-family: "EB Garamond", Garamond, Georgia, Serif;
}
/*#instantclick-bar {
  background: #ccc;
}*/
blockquote {
  border-left: none;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  /* http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.index-img {
  width: 100%;
  height: 100%;
  background: url('/images/12_point_curved.svg') no-repeat center center;
  background-size: contain;
  display: table;
}
.index-img > div {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
html, body,
body > .container,
body > .container > .row,
.site-content,
.site-content > .row,
.site-content > .row > .col-sm-9 {
  height: 100%;
}
#footer {
  position: relative;
}