<div>
  <a href="/" class="brand">
    <h1 id="site-title">
      David S. Lefkowitz
    </h1>
    <h3 class="site-subtitle">
      Professor of Music
    </h3>
  </a>
  <hr>
  <ul class="nav nav-stacked panel-group" id="accordion">
    {% if page.url == "/compositions/index.html" %}
      <li class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Compositions
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
            <form action="" class="form-vertical" id="compositions-filters">
              {% for category in layout.categories %}
                <h5>{{ category[0] }}</h5>
                {% for subcat in category[1] %}
                  <div
                    {% if subcat.children.size > 0 %}
                      class="checkbox parent-checkbox"
                    {% else %}
                      class="checkbox filter-checkbox"
                    {% endif %}
                    >
                    {% capture slug %}{{ subcat.name | downcase | replace:' ','-' | replace:"'","" }}{% endcapture %}
                    <label for="{{ slug }}">
                      <input type="checkbox"
                        id="{{ slug }}"
                        name="{{ slug }}"
                        checked
                        > {{ subcat.name }}
                    </label>
                    {% for child in subcat.children %}
                      {% capture slug %}{{ child.name | downcase | replace:' ','-' | replace:"'","" }}{% endcapture %}
                      <div class="checkbox filter-checkbox">
                        <label for="{{ slug }}">
                          <input type="checkbox"
                            id="{{ slug }}"
                            name="{{ slug }}"
                            checked
                            > {{ child.name }}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              {% endfor %}
            </form>
            <!-- <form action="" class="form-vertical">
              <div id="orchestra-nav">
                <h5>Orchestra</h5>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Solos
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Duos
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Chamber
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Large Ensemble
                  </label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> String Orchestra
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Orchestra
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Wind Ensemble
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Band
                    </label>
                  </div>
                </div>
              </div>

              <div id="instrumentation-nav">
                <h5>Instrumentation</h5>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Vocal
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Keyboard
                  </label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Piano
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Organ
                    </label>
                  </div>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Harp
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Strings
                  </label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Violin
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Viola
                    </label>
                  </div>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Percussion
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Winds
                  </label>
                </div>
              </div>
            </form>
 -->          </div>
        </div>
      </li>
    {% else %}
      <li>
        <a href="/compositions/" class="btn btn-default">Compositions</a>
      </li>
    {% endif %}

    {% if page.url == "/bio.html" %}
      <li class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Contact &amp; Bio
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
          <ul>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li>
              <a href="#short-bio">Short Bio</a>
            </li>
            <li>
              <a href="#medium-bio">Medium Bio</a>
            </li>
            <li>
              <a href="#extended-bio">Long Bio</a>
            </li>
            <li>
              <a href="#photos">Photos</a>
            </li>
          </ul>
          </div>
        </div>
      </li>
    {% else %}
      <li>
        <a href="/bio.html" class="btn btn-default">Contact &amp; Bio</a>
      </li>
    {% endif %}

    {% if page.url == "/teaching.html" %}
      <li class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Teaching &amp; Music Theory
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
          <ul>
            <li>
              <a href="#teaching">Teaching</a>
              <ul>
                <li>
                  <a href="#undergraduate">Undergraduate</a>
                </li>
                <li>
                  <a href="#graduate">Graduate</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#music-theory">Music Theory</a>
              <ul>
                <li>
                  <a href="#publications">Publications</a>
                </li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
      </li>
    {% else %}
      <li>
        <a href="/teaching.html" class="btn btn-default">Teaching &amp; Music Theory</a>
      </li>
    {% endif %}


    {% for p in site.pages %}
      {% if p.url != "/" and p.url != "/bio.html" and p.url != "/teaching.html" %}
        <li class="{% if p.url == page.url %} active {% endif %}">
          <a href="{{ p.url }}" class="btn btn-default">{{ p.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <!-- <div class="panel-group" id="accordion"> -->
<!--
      <li class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Discography
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            Thing1
          </div>
        </div>
      </li> -->

    <!-- </div> -->
  </ul>

  {% include footer.html %}
</div>