---
layout: default
---

{% capture now %}{{ site.time | date:"%Y-%m-%d" }}{% endcapture %}

<h1>Calendar</h1>
<p class="text-muted">
  <em>Last updated on {{ site.time | date:"%B %d, %Y" }}.</em>
</p>
<br>

<h3>Upcoming Events</h3>
<hr>
{% for event in page.events %}
  {% capture event_date %}{{ event.date }}{% endcapture %}
  {% if event_date > now %}
    <h4><strong>{{ event.title }}</strong></h4>
    <p>
      <em>{{ event.date | date:"%B %d, %Y" }}</em>
      <br>
      {{ event.location}}
      <br>
      {{ event.notes }}
    </p>
  {% endif %}
{% endfor %}

<br>
<h3>Past Events</h3>
<hr>
{% for event in page.events %}
  {% capture event_date %}{{ event.date | date:"%Y-%m-%d" }}{% endcapture %}
  {% if event_date < now %}
    <h4><strong>{{ event.title }}</strong></h4>
    <p>
      <em>{{ event.date | date:"%B %d, %Y" }}</em>
      <br>
      {{ event.location}}
      <br>
      {{ event.notes }}
    </p>
  {% endif %}
{% endfor %}