---
layout: default
---

<section class="composition-header">
  <center>
    <h1>{{ page.title }} <!-- <span class="text-muted">- {{ page.date }}</span> --></h1>
    <p class="lead text-muted text-center">
      <span class="">{{ page.instrumentation_name }}</span>
    </p>
    <p class="lead text-muted text-center">
      <span class="pull-left">{{ page.date }}</span>
      {% if page.publisher.size > 1 %}
        <span>&bull;</span>
        <a href="{{ page.publisher_link }}">{{ page.publisher }}</a>
        <span>&bull;</span>
      {% endif %}
      <span class="pull-right">
        {{ page.duration.m }}:{% if page.duration.s < 10 %}0{% endif %}{{ page.duration.s }}
      </span>
      <span>&nbsp;</span>
    </p>

  </center>
</section>

<hr>

<section class="soundcloud">
  {% capture num_recordings %}{{ page.soundcloud_ids | first | size }}{% endcapture %}
  {% if num_recordings != "0" %}
    <h2>Recordings</h2>
    <center>
      {% for s_id in page.soundcloud_ids %}
          <iframe
            id="sc-widget-{{ s_id }}"
            src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/{{ s_id }}"
            width="800"
            height="100"
            scrolling="no"
            frameborder="no">
          </iframe>
      {% endfor %}
    </center>
  {% endif %}
</section>

<section class="videos">
  {% capture num_videos %}{{ page.youtube_ids | first | size }}{{ page.vimeo_ids | first | size }}{% endcapture %}
  {% if num_videos != "00" %}
    <h2>Videos</h2>
    <center>
      {% for y_id in page.youtube_ids %}
        {% if y_id.size > 1 %}
          <iframe
            id="ytplayer-{{ y_id }}"
            type="text/html"
            width="640"
            height="390"
            src="http://www.youtube.com/embed/{{ y_id }}?autoplay=0"
            allowfullscreen webkitallowfullscreen mozallowfullscreen
            frameborder="0">
          </iframe>
        {% endif %}
      {% endfor %}
      {% for v_id in page.vimeo_ids %}
        {% if v_id.size > 1 %}
          <iframe
            id="vplayer-{{ v_id }}"
            type="text/html"
            width="640"
            height="390"
            src="//player.vimeo.com/video/{{ v_id }}"
            allowfullscreen webkitallowfullscreen mozallowfullscreen
            frameborder="0">
          </iframe>
        {% endif %}
      {% endfor %}
    </center>
  {% endif %}
</section>

<section class="performance-history">
  {% capture len_performer %}{{ page.history | first | first | last | size }}{% endcapture %}
  {% if len_performer != "0" %}
    <h2>Performance History</h2>
    <div class="list-group">
      {% for h in page.history %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{{ h.performer }}</h4>
            <p class="list-group-item-text">
              <ul>
                {% for timeplace in h.timeplaces %}
                  <li>{{ timeplace }}</li>
                {% endfor %}
              </ul>
            </p>
          </div>
      {% endfor %}
    </div>
  {% endif %}
</section>

<section class="reviews">
  {% capture len_quote %}{{ page.reviews | first | first | last | size }}{% endcapture %}
  {% if len_quote != "0" %}
    <h2>Reviews</h2>
    <div class="list-group">
      {% for r in page.reviews %}
          <div class="list-group-item">
            <p class="list-group-item-text">
              <blockquote cite="{{ r.link }}">
                <p>{{ r.quote }}</p>
              </blockquote>
              <p class='text-right'>
                - {{ r.reviewer }}, {{ r.date }}
                <br>
                <a href="{{ r.link }}">{{ r.publication }}</a>
              </p>
            </p>
          </div>
      {% endfor %}
    </div>
  {% endif %}
</section>

<section class="program-notes">
  {% if content.size > 3 %}
    <h2>Program Note</h2>
    <div class="list-group">
      <div class="list-group-item">
        <p class="list-group-item-text">
          {{ content }}
        </p>
      </div>
    </div>
  {% endif %}
</section>

<!-- <ul>
  <li>genre: {{ page.genre }}</li>
  <li>date: {{ page.date }}</li>
  <li>duration: {{ page.duration }}</li>
  <li>publisher: {{ page.publisher }}</li>
  <li>soundcloud: {{ page.soundcloud }}</li>
  <li>
    history:
    <ul>
      {% for h in page.history %}
        <li>{{ h.performer }}</li>
        <ul>
          {% for time in h.timeplaces %}
            <li>{{ time }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
  </li>
  <li>
    reviews:
    <ul>
      {% for r in page.reviews %}
        <li>{{ r }}</li>
      {% endfor %}
    </ul>
  </li>
</ul> -->