---
layout: default

categories:
  Orchestra:
  - name: Solos
  - name: Duos
  - name: Chamber
  - name: Large Ensemble
    children:
    - name: String Orchestra
    - name: Orchestra
    - name: Wind Ensemble
    - name: Band
  Instrumentation:
  - name: Vocal
    children:
    - name: Soprano
    - name: Mezzo Soprano
    - name: Tenor
    - name: Baritone
    - name: Cantor
    - name: Children's Choir
    - name: TTBB Choir
    - name: Choir
    - name: Narrator
    - name: Voice
  - name: Keyboard
    children:
    - name: Piano
    - name: Organ
  - name: Harp
  - name: Strings
    children:
    - name: Violin
    - name: Viola
    - name: Violoncello
    - name: Cello
    - name: String Bass
    - name: Nay
    - name: Tibetan Lute
    - name: Orchestra
  - name: Percussion
    children:
    - name: Handclap
    - name: Marimba
    - name: Timpani
    - name: Optional Percussion
    - name: Vibraphone
  - name: Winds
    children:
    - name: Flute
    - name: Alto Flute
    - name: Bass Flute
    - name: Clarinet
    - name: Bass Clarinet
    - name: Saxophone
    - name: Bassoon
    - name: Oboe
    - name: Trumpet
    - name: French Horn
    - name: English Horn
    - name: Trombone
    - name: Bass Trombone
    - name: Tuba
    - name: Oud
    - name: Band

---

<h1>Compositions</h1>
<hr>

<div id="compositions-container">
  {% for c in site.compositions %}
    {% capture filter_instruments %}
      {% for cat in c.instrumentation %}
        {% for instrument in cat[1] %}
          {{ instrument | downcase | replace:' ','-' | replace:"'","" }}
        {% endfor %}
      {% endfor %}
    {% endcapture %}
    {% capture filter_genres %}
      {% for genre in c.genre %}
        {{ genre | downcase | replace:' ','-' | replace:"'",""  }}
      {% endfor %}
    {% endcapture %}
    <div class="list-group composition-item"
      data-date='{{ c.date }}'
      data-duration-m='{{ c.duration.m }}'
      data-duration-s='{{ c.duration.s }}'
      data-genres='{{ filter_genres }}'
      data-instrumentation='{{ filter_instruments }}'
      >
      <a href="{{ c.url }}" class="list-group-item thumbnail">
        <h3 class="list-group-item-heading">{{ c.title }}</h3>
        <div class="row list-group-item-text">
          <div class="col-sm-6">
            <p class="lead" style="color:#333;">
              {{ c.instrumentation_name }}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="text-muted">
              <span>Composed: {{ c.date }}</span>
              {% if c.publisher.size > 1 %}
                <br>
                <span>Publisher: {{ c.publisher }}</span>
              {% endif %}
              <br>
              <span>
                Duration:
                {{ c.duration.m }}:{% if c.duration.s < 10 %}0{% endif %}{{ c.duration.s }}
              </span>
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>