<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">

      <div class="col-sm-3 site-nav">
        {% include nav.html %}
      </div>
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          &nbsp;
        </div>
        <div class="col-sm-9 site-content">
          <hr class="visible-xs">
          <div class="row">
            <div class="col-sm-9">
            {{ content }}
            </div>
          </div>
        </div>
      </div>

    </div>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}
  {% include js.html %}

  </body>
</html>