---
layout: default

---

<h1>Discography</h1>
<hr>

{% for disc in page.discs %}
  <div class="list-group">
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-7">
          <img src="/images/albums/{{ disc.image }}"
            style="width: 100%;" class="thumbnail">
        </div>
        <div class="col-sm-5">
          <h3>{{ disc.title }}</h3>
          <span>{{ disc.publisher }}, {{ disc.released }}</span>
          {% if disc.catalogue %}
            <span class="text-muted pull-right"># {{ disc.catalogue }}</span>
          {% endif %}
        </div>
      </div>
      <!-- <hr> -->
      <table class="table" style="margin-bottom: 0px;">
        {% for t in disc.tracks %}
          <tr class="row">
            <td class='text-right col-xs-1'>
              <p style="margin-top:0px; font-size:22px;">{{ t.track }}</p>
            </td>
            <td class="col-xs-11">
              <div>{{ t.title | markdownify }}</div>
              <div style="margin-top: -5px; margin-bottom: 3px;">{{ t.featuring }}</div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>
{% endfor %}